/** @format */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 20vh;
    background-color: #daaa00;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    font-family: sans-serif;

}

nav{
    width: 100%;
    background-color: #cfb991;
    display: flex;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cfb991;
    display: inline;
}

nav li{
    /* float: left; */
    display: inline;
    margin: 10px;
    font-size: large;
    padding: 10px;
}


.navImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: contain;
    cursor: pointer;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #8e6f3e;
}

a:hover {
    background-color: black;
    color: #cfb991;
}

.slidesWrapper{
    width: 500px;
    height: 500px;
    object-fit: contain;
}





/* header {
    width: 100%;
    height: 20vh;
    background-color: #daaa00;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    font-family: sans-serif;
    
}

.navImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: contain;
    cursor: pointer;
}


nav ul {
    width: 100%;
    height: 8vh;
    background-color: #cfb991;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: large;
    padding: 10px 8px;
}

a {
    text-decoration: none;
    color: #8e6f3e;
}

a:hover {
    background-color: black;
    color: #cfb991;
} */

